<div class="container">
<h3 class="text-center">Block Data</h3>
<div class="card center" style="width: 70rem;">
    <div class="card-header text-center">
      Block Number #<%= block.height %>
    </div>
    <% if (block.error) { %>
        <h3 class="text-center"> <%= block.error %> </h3>
        <a href="/" class="btn btn-primary">Go back</a>
        <% }else { %>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Block Hash : <%=block.hash %></li>
      <li class="list-group-item">Block height : <%=block.height %></li>
      <li class="list-group-item">Block date : <%=block.time %></li>
      <li class="list-group-item">Previous hash : <%=block.prev_block %></li>
      <li class="list-group-item">Block fees : <%=block.fees %></li>
      <li class="list-group-item">Number of Transactions : <%=block.n_tx %></li>
      <li class="list-group-item">Merkle root : <%=block.mrkl_root %></li>

      <a href="/" class="btn btn-primary">Go back</a>
        
    </ul>
  
<% } %>
</div>
</div>