<div class="container">
    
    <div class="card center" style="width: 70rem;">
        <div class="card-header text-center">
          Unconfirmed transaction 
        </div>
        <% if (tx.error) { %>
            <h3 class="text-center"> <%= tx.error %> </h3>
            <a href="/" class="btn btn-primary"style="background: #0984e3">Go back</a>
            <% }else { %>
          
        <ul class="list-group list-group-flush">

            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Amount</th>
                    <th scope="col">Sender's address </th>
                    <th scope="col">receiver's address </th>
                    <th scope="col">Hash</th>
                  </tr>
                </thead>
                <tbody>
                    <% tx.forEach(tx => { %>
                    <tr>
                    <th scope="row"> <%= tx.total %>  satoshi</th>
                    <td><a href="/address/<%= tx.addresses[0]%>"><%=tx.addresses[1].substring(0,5)%>... </a></td>
                    <td><a href="/address/<%= tx.addresses[0]%>"><%=tx.addresses[1].substring(0,5)%>... </a></td>
                  <td> <%= tx.hash %></td>
                  </tr>
                   <% }); %>
                  
                  
                </tbody>
              </table>
          
        </ul>
        <a href="/" class="btn btn-primary" style="background: #0984e3">Go back</a>

    <% } %>
    </div>
    </div>