<div class="container">
    <h3 class="text-center">transaction Data</h3>
    <div class="card center" style="width: 70rem;">
        <div class="card-header text-center">
          transaction info #<%= tx.hash %>
        </div>
        <% if (tx.error) { %>
            <h3 class="text-center"> <%= tx.error %> </h3>
            <a href="/" class="btn btn-primary"style="background: #0984e3">Go back</a>
            <% }else { %>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Block height : <%=tx.block_height %></li>
          <li class="list-group-item">amount of satoshi transferred:<%=tx.total %></li>
          <li class="list-group-item">transaction fee : <%= tx.fees %></li>
          <li class="list-group-item">transaction size : <%= tx.size %></li>
          <li class="list-group-item">transaction index: <%= tx.block_index %></li>
          <li class="list-group-item">to sign : <%= tosign %></li>

          
          <a href="/" class="btn btn-primary" style="background: #0984e3">Go back</a>
        </ul>
    <% } %>
    </div>
    </div>